html, body{
  width: 100%;
  /*overflow: hidden;*/
  font-family: 'Istok Web', sans-serif;
  vertical-align: middle;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
h1{
  font-size: 64px;
  color: #050028;
  font-weight: 700;
}
h2{
  font-size: 32px;
  font-weight: 700;
}
header{
  width: 100%;
  padding: 10px 0;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}
.logo, .menu, .menu_item{
  display: inline-block;
  font-size: 14px;
}
.menu_item{
  margin-right: 20px;
}
.logo img{
  width: 55px;
  height: 55px;
}
