{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
     <script>
            $(document).ready(function(){
                $( "button.task_take" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_take/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                             alert("Вы стали участником задачи!");
                            // current_button.add_title ( data );
                            current_button.removeClass('btn-success')
                            current_button.addClass('btn-primary')
                            current_button.text('Не участвовать')

                            current_button.removeClass('take_task')
                            current_button.addClass('task_drop')
                        }
                    });
                });

                $( "button.task_drop" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_drop/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                            alert("Вы больше не участник задачи :(");
                            //current_button.replaceWith( data );
                            current_button.removeClass('btn-primary')
                            current_button.addClass('btn-success')
                            current_button.addClass('task_take')
                            current_button.text('Участвовать')
                        }
                    });
                });
            });
    </script>

    {% if not user.is_authenticated %}
        <p>Добро пожаловать. Зарегистрируйтесь, пожалуйста.</p>
    {% else %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <!-- Image
                <img style="height: 316px" alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />

                <img sort="user.userprofile.photo"> CHECK! -->
                {% if user_photo.url%}
                    <img style=" height: 100%; width: 100%; object-fit: contain" src='/media/user_photo/Photo_TAMPLATE_vol.jpg'/>
                {% else %}
                    <img style=" height: 100%; width: 100%; object-fit: contain" src={{user.userprofile.photo.url}}/>

                {% endif %}



                <!-- Image STARS -->
                <p>
                    <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true" style="color: gold; font-size: 36px"></span>
                    <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true" style="color: gold; font-size: 36px"></span>
                    <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true" style="color: gold; font-size: 36px"></span>
                    <span class="glyphicon glyphicon-star btn-lg" aria-hidden="true" style="color: gold; font-size: 36px"></span>
                </p>

                <p style="margin: 16px;"> </p>
            </div>


            <div class="col-md-6">
                <h2> {{ full_name }}
                </h2>
                    {% for category in user.userprofile.category.all %}
                        <span class="label label-default">
                            {{ category.title }}
                        </span>
                    {% endfor %}

                <h4>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                        {{ user.email }}
                    </span>
                </h4>

                <h4>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true">
                         {{ user.userprofile.telephone }}
                    </span>
                </h4>

                <p>
                    <strong> Обо мне: </strong><br>
                         {{ user.userprofile.about }}
                </p>


                <p>
                    <strong> Информация: </strong><br>
                         {{ user.userprofile.information }}
                </p>

                <p style="margin: 16px; padding-bottom: 33px"> </p>

                <a class="btn btn-block btn-info active" type="button"  href="{% url 'tasktracker.views.task_new' %}"  >
                    Создать задачу
                </a>
                <a href="{% url 'task_draft_list' %}" class="top-menu"> Черновики задач <span class="glyphicon glyphicon-edit"></span></a>
            </div>

            <div class="col-md-1">
                    <a class="btn btn-default" href="{% url 'profile_edit' %}"> <span class="glyphicon glyphicon-pencil"> </span></a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <p>

                    <div>
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#all_tasks" aria-controls="all_tasks" role="tab" data-toggle="tab">Все задачи</a></li>
                        {% if request.user.is_authenticated %}
                          <li role="presentation" class="active"><a href="#member_tasks" aria-controls="member_tasks" role="tab" data-toggle="tab"> Мои задачи </a></li>
                          <li role="presentation"><a href="#created_tasks" aria-controls="created_tasks" role="tab" data-toggle="tab">Организованные мной задачи</a></li>
                        {% endif %}
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="all_tasks">
                            {% for task in all_tasks %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="event_date">
                                                {{ task.event_date|date:'d/m' }}
                                            </div>
                                            <!-- CATEGORIES -->
                                            {% for category in task.category.all %}
                                                 <span class="label label-default">
                                                    {{ category.title }}
                                                </span>
                                            {% endfor %}
                                        </div>

                                        <div class="col-md-6">
                                            <h2>
                                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                                            </h2>
                                            <p>
                                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                                {{ task.author|lower }} <!-- link to author profile -->
                                            </p>
                                            <p>
                                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                                            </p>
                                        </div>

                                        <div class="col-md-3">
                                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a> -->
                                            {% if task.is_member %}
                                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                                            {% else %}
                                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take btn btn-success  btn-lg" type="button"> Участвовать </button>                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                      {% if request.user.is_authenticated %}

                        <div role="tabpanel" class="tab-pane" id="member_tasks">
                            {% for task in member_tasks %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="event_date">
                                                {{ task.event_date|date:'d/m' }}
                                            </div>
                                            <!-- CATEGORIES -->
                                            {% for category in task.category.all %}
                                                 <span class="label label-default">
                                                    {{ category.title }}
                                                </span>
                                            {% endfor %}
                                        </div>

                                        <div class="col-md-6">
                                            <h2>
                                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                                            </h2>
                                            <p>
                                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                                {{ task.author|lower }} <!-- link to author profile -->
                                            </p>
                                            <p>
                                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                                            </p>
                                        </div>

                                        <div class="col-md-3">
                                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a> -->
                                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div role="tabpanel" class="tab-pane" id="created_tasks">
                            {% for task in created_tasks %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="event_date">
                                                {{ task.event_date|date:'d/m' }}
                                            </div>
                                            <!-- CATEGORIES -->
                                            {% for category in task.category.all %}
                                                 <span class="label label-default">
                                                    {{ category.title }}
                                                </span>
                                            {% endfor %}
                                        </div>

                                        <div class="col-md-6">
                                            <h2>
                                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                                            </h2>
                                            <p>
                                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                                {{ task.author|lower }} <!-- link to author profile -->
                                            </p>
                                            <p>
                                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                                            </p>
                                        </div>

                                        <div class="col-md-3">
                                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a>
                                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take" type="button"> Участие </button> -->

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                      {% endif %}
                    </div>


                        </p>
                    </div>
                </div>
            </div>
        </div>
     </div>

    {% endif %}

{% endblock content %}