{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h1> Редактировать информацию {{ user.name }} </h1>

    <form method="POST" class="post-form" enctype='multipart/form-data'> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default"> Save </button>
    </form>

{% endblock content %}
