{% extends 'base.html' %}

{% block content %}

    <h3>Проект МирОк - сеть для волонтёров </h3>
    <p> Тут сможете найти подходящее для вас доброе дело </p>
    <p> <strong>Информация о проекте </strong></p>
    <p> <strong> Контакты </strong> </p>

{% endblock content %}