{% extends 'base.html' %}


          <meta charset="UTF-8">
          <title>mirok</title>
          <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="css/style.css">



{% block content %}
    {% load bootstrap_tags %}
    <h1>Регистрация</h1>
    <form method="POST" class="task-form">{% csrf_token %}
        {{ form |as_bootstrap_inline }}
        <button type="submit" class="save btn btn-default"> Сохранить </button>
    </form>



<!--
<div class="form-group">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputUsername">
                            Логин
                        </label>
                        <input class="form-control" id="exampleInputUsername" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email address
                        </label>
                        <input class="form-control" id="exampleInputEmail1" type="email" />
                    </div>

                    <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1">@</span>
                          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">
                            Пароль
                        </label>
                        <input class="form-control" id="exampleInputPassword1" type="password" />
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">
                            Подтвердите пароль
                        </label>
                        <input class="form-control" id="exampleInputPassword1" type="password" />
                    </div>

                    <div class="form-group">

                        <label for="exampleInputFile">
                            File input
                        </label>

                        <input id="exampleInputFile" type="file" />
                        <p class="help-block">
                            Example block-level help text here.
                        </p>
                    </div>
                    <div class="checkbox">


                     <div class="check_category">
                    <p class="main_text">Предпочитаемые категории </p>
                    <div>
                        <label>
                            <input type="checkbox" value="cat_1">
                            категория_1
                        </label>
                        <label>
                            <input type="checkbox" value="cat_2">
                            категория_2
                        </label>
                        <label>
                            <input type="checkbox" value="cat_3">
                            категория_3
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" value="cat_4">
                            категория_4
                        </label>
                        <label>
                            <input type="checkbox" value="cat_5">
                            категория_5
                        </label>
                        <label>
                            <input type="checkbox" value="cat_6">
                            категория_6
                        </label>
                    </div>
                    </div>


                    <label>
                        <input type="checkbox" /> Запомни меня
                    </label>
                    </div>
                    <button type="submit" class="btn btn-default" class="submit">
                        Зарегистрироваться
                    </button>
                </form>
            </div>
            <div class="col-md-3">
                <p>Зарегистроваться через социальные сети:</p>
                <a href="#"><div class="vk soc">Вконтакте</div></a>
                <a href="#"><div class="mail soc">Mail.ru</div></a>
                <a href="#"><div class="fb soc">Facebook</div></a>
                <a href="#"><div class="gm soc">Google+, Gmail</div></a>
            </div>
        </div>
    </div>
</div>

-->
{% endblock %}