{% load staticfiles %}

<html>
    <head>
        <title>MirOk</title> <!-- Заголовок на вкладке в браузере  -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>


    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'tasktracker.views.task_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>  <!-- add a new task -->
                <a href="{% url 'task_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <p class="top-menu">Hello, {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="/">Volunteer MiR TaskTracker MirOk</a></h1>
            <h3><a href="https://bitbucket.org/MichalRozenwald/volunteer_mir"> Description </a></h3>
        </div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {%  block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>