{% extends 'base.html' %}

{% block content %}
    <h1> Редактировать задачу</h1>
    <form method="POST" class="task-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default"> Save </button>
    </form>
{% endblock %}