{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">

{% block content %}
    <script>
            $(document).ready(function(){
                $( "button.task_take" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_take/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                             alert("Вы стали участником задачи!");
                            // current_button.add_title ( data );
                            current_button.removeClass('btn-success')
                            current_button.addClass('btn-primary')
                            current_button.text('Не участвовать')

                            current_button.removeClass('take_task')
                            current_button.addClass('task_drop')
                        }
                    });
                });

                $( "button.task_drop" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_drop/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                            alert("Вы больше не участник задачи :(");
                            //current_button.replaceWith( data );
                            current_button.removeClass('btn-primary')
                            current_button.addClass('btn-success')
                            current_button.addClass('task_take')
                            current_button.text('Участвовать')
                        }
                    });
                });

                $( "button.task_approve" ).click(function(){
                    var current_button = $(this);
                    alert("Участник выполнил задачу!"),
                    $.ajax({
                        url: "/task/task_approve/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk'), "member_user_id": $(this).attr('memb_user_id')},
                        success: function(data){
                             alert("Участник выполнил задачу!");
                            current_button.removeClass('btn-success task_approve')
                            current_button.addClass('btn-primary')
                            current_button.text('Подтвержден')

                            //current_button.removeClass('take_task')
                            //current_button.addClass('task_drop')
                        }
                    });
                });
            });
    </script>
    <!-- ПОИСК -------
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">
            Искать <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
    -->
    <p>
        <a  class="btn btn-block btn-info active" type="button"  href="{% url 'tasktracker.views.task_new' %}"  >
            Создать задачу
        </a>
    </p>


    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all_members" aria-controls="all_members" role="tab" data-toggle="tab">Все участники</a></li>
        {% if request.user.is_authenticated %}
          <li role="presentation"><a href="#wait_members" aria-controls="wait_tasks" role="tab" data-toggle="tab"> Ожидающие подтверждения </a></li>
          <li role="presentation"><a href="#finish_members" aria-controls="finish_members" role="tab" data-toggle="tab">Выполнившие</a></li>
        {% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all_members">
            {% for member in wait_members %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        </div>

                        <div class="col-md-6">
                            <h2>
                                <a class="task_name"> {{ member.username }} </a> <!--  href="{% url 'task_detail' pk=task.pk %}"-- link to member page -->
                            </h2>
                        </div>

                        <div class="col-md-3">

                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" memb_user_id="{{ member.id }}" class="task_approve btn btn-success btn-lg" type="button"> Подтвердить задачу </button>
                            <!--{% if task.is_member %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                            {% else %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take btn btn-success  btn-lg" type="button"> Участвовать </button>                            {% endif %}
                        -->
                        </div>
                    </div>
                </div>
            {% endfor %}

              {% for member in finish_members %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <h2>
                                <a class="task_name"> {{ member.username }} </a> <!--  href="{% url 'task_detail' pk=task.pk %}"-- link to member page -->
                            </h2>
                        </div>
                        <div class="col-md-3">
                            <!-- button is not needed-->
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>

        <div role="tabpanel" class="tab-pane" id="wait_members">
           {% for member in wait_members %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        </div>

                        <div class="col-md-6">
                            <h2>
                                <a class="task_name"> {{ member.username }} </a> <!--  href="{% url 'task_detail' pk=task.pk %}"-- link to member page -->
                            </h2>
                        </div>

                        <div class="col-md-3">

                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" memb_user_id="{{ member.id }}" class="task_approve btn btn-success btn-lg" type="button"> Подтвердить задачу </button>
                            <!--{% if task.is_member %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                            {% else %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take btn btn-success  btn-lg" type="button"> Участвовать </button>                            {% endif %}
                        -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="finish_members">
           {% for member in finish_members %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <h2>
                                <a class="task_name"> {{ member.username }} </a> <!--  href="{% url 'task_detail' pk=task.pk %}"-- link to member page -->
                            </h2>
                        </div>
                        <div class="col-md-3">
                            <!-- button is not needed-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--<div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Дети</button>
        <button type="button" class="btn btn-default">Эко</button>
        <button type="button" class="btn btn-default">Животные</button>
    </div>
    <span class="label label-default">Экология</span> <span class="label label-default">Дети</span> <span class="label label-default">Животные</span>
    -->




{% endblock content %}