{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/tasktracker.css' %}">

{% block content %}
    <script>
            $(document).ready(function(){
                $( "button.task_take" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_take/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                             alert("Вы стали участником задачи!");
                            // current_button.add_title ( data );
                            current_button.removeClass('btn-success')
                            current_button.addClass('btn-primary')
                            current_button.text('Не участвовать')

                            current_button.removeClass('take_task')
                            current_button.addClass('task_drop')
                        }
                    });
                });

                $( "button.task_drop" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_drop/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                            alert("Вы больше не участник задачи :(");
                            //current_button.replaceWith( data );
                            current_button.removeClass('btn-primary')
                            current_button.addClass('btn-success')
                            current_button.addClass('task_take')
                            current_button.text('Участвовать')
                        }
                    });
                });
            });
    </script>
    <!-- ПОИСК -------
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">
            Искать <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
    -->
    <p>
        <a  class="btn btn-block btn-info active" type="button"  href="{% url 'tasktracker.views.task_new' %}"  >
            Создать задачу
        </a>
    </p>


    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all_tasks" aria-controls="all_tasks" role="tab" data-toggle="tab">Все задачи</a></li>
        {% if request.user.is_authenticated %}
          <li role="presentation"><a href="#member_tasks" aria-controls="member_tasks" role="tab" data-toggle="tab"> Мои задачи </a></li>
          <li role="presentation"><a href="#created_tasks" aria-controls="created_tasks" role="tab" data-toggle="tab">Организованные мной задачи</a></li>
        {% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all_tasks">
            {% for task in all_tasks %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="event_date">
                                {{ task.event_date|date:'d/m' }}
                            </div>
                            <!-- CATEGORIES -->
                            {% for category in task.category.all %}
                                 <span class="label label-default">
                                    {{ category.title }}
                                </span>
                            {% endfor %}
                        </div>

                        <div class="col-md-6">
                            <h2>
                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                            </h2>
                            <p>
                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                {{ task.author|lower }} <!-- link to author profile -->
                            </p>
                            <p>
                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a> -->
                            {% if task.is_member %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                            {% else %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take btn btn-success  btn-lg" type="button"> Участвовать </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

      {% if request.user.is_authenticated %}

        <div role="tabpanel" class="tab-pane" id="member_tasks">
            {% for task in member_tasks %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="event_date">
                                {{ task.event_date|date:'d/m' }}
                            </div>
                            <!-- CATEGORIES -->
                            {% for category in task.category.all %}
                                 <span class="label label-default">
                                    {{ category.title }}
                                </span>
                            {% endfor %}
                        </div>

                        <div class="col-md-6">
                            <h2>
                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                            </h2>
                            <p>
                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                {{ task.author|lower }} <!-- link to author profile -->
                            </p>
                            <p>
                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a> -->
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div role="tabpanel" class="tab-pane" id="created_tasks">
            {% for task in created_tasks %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="event_date">
                                {{ task.event_date|date:'d/m' }}
                            </div>
                            <!-- CATEGORIES -->
                            {% for category in task.category.all %}
                                 <span class="label label-default">
                                    {{ category.title }}
                                </span>
                            {% endfor %}
                        </div>

                        <div class="col-md-6">
                            <h2>
                                <a class="task_name" href="{% url 'task_detail' pk=task.pk %}"> {{ task.title }} </a>
                            </h2>
                            <p>
                                {{ task.text|linebreaks }} <!-- task.short_descr -->
                                {{ task.author|lower }} <!-- link to author profile -->
                            </p>
                            <p>
                                <a class="btn"  href="{% url 'task_detail' pk=task.pk %}"> Подробнее » </a>
                            </p>
                        </div>

                        <div class="col-md-3">
                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a>
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take" type="button"> Участие </button> -->

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      {% endif %}
    </div>

    <!--<div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Дети</button>
        <button type="button" class="btn btn-default">Эко</button>
        <button type="button" class="btn btn-default">Животные</button>
    </div>
    <span class="label label-default">Экология</span> <span class="label label-default">Дети</span> <span class="label label-default">Животные</span>
    -->




{% endblock content %}