{% extends 'base.html' %}

{% block content %}
    {% for task in tasks %}
        <div class="task">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'tasktracker.views.task_detail' pk=task.pk %}">{{ task.title }}</a></h1>
            <p>{{ task.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}