{% extends 'base.html' %}

{% block content %}
     <script>
            $(document).ready(function(){
                $( "button.task_take" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_take/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                             alert("Вы стали участником задачи!");
                            // current_button.add_title ( data );
                            current_button.removeClass('btn-success')
                            current_button.addClass('btn-primary')
                            current_button.text('Не участвовать')

                            current_button.removeClass('take_task')
                            current_button.addClass('task_drop')
                        }
                    });
                });

                $( "button.task_drop" ).click(function(){
                    var current_button = $(this);
                    $.ajax({
                        url: "/task/task_drop/",
                        type: "GET",
                        data: {"task_pk": $(this).attr('pk')},
                        success: function(data){
                            alert("Вы больше не участник задачи :(");
                            //current_button.replaceWith( data );
                            current_button.removeClass('btn-primary')
                            current_button.addClass('btn-success')
                            current_button.addClass('task_take')
                            current_button.text('Участвовать')
                        }
                    });
                });
            });
    </script>

    <div class="task">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-left">
                        {{ task.title }}
                    </h1>
                    <!-- CATEGORIES -->
                    {% for category in categories %}
                        <span class="label label-default">
                            {{ category.title }}
                        </span>
                    {% endfor %}

                <!-- publish -->
                    <p> {{ task.text|linebreaks }} </p>
                    {% if task.published_date %}
                        <div class="date">
                            {{ task.published_date }}
                        </div>
                    {% else %}
                        <a class="btn btn-default btn-warning btn-block btn-lg actime" href="{% url 'tasktracker.views.task_publish' pk=task.pk %}"> Опубликовать задачу</a>
                    {% endif %}

                    <!-- Add comments -->
                    <hr>
                    <a class="btn btn-default" href="{% url 'add_comment_to_task' pk=task.pk %}"> Добавить комментарии </a>
                    {% for comment in task.comments.all %}
                        <div class="comment">
                            <div class="date">
                                {{ comment.created_date }}
                                {% if not comment.approved_comment %}
                                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                                {% endif %}
                            </div>
                            <strong>{{ comment.author }}</strong>
                            <p>{{ comment.text|linebreaks }}</p>
                        </div>
                    {% empty %}
                        <p> Комментариев пока нет. Пишите их тут.</p>
                    {% endfor %}

                </div>


                <div class="col-md-4">

                    <!-- Edit task -->
                {% if request.user.is_authenticated %}
                    {% if task.author == request.user %}
                        <a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"> <span class="glyphicon glyphicon-pencil"> </span> </a>
                        <a class="btn btn-default" href="{% url 'task_remove' pk=task.pk %}"> <span class="glyphicon glyphicon-remove"> </span> </a>
                    {% endif %}
                {% endif %}

                    <h3>
                        <div class="event_date">
                            {{ task.event_date }}
                        </div>
                    </h3>

                    <!-- TASK TAKE! -->
                    <!--<p> <a href="#"  onclick="req()" class="btn btn-block active btn-success btn-lg" type="button"> Участвовать </a> </p> -->
                    <div class="col-md-3">
                            <!--<a href="#"  class="btn btn-success btn-lg btn-block active" type="button"> Участвовать </a> -->
                            {% if task.is_member %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_drop btn btn-primary btn-lg" type="button"> Не участвовать </button>
                            {% else %}
                            <button id="task {{ task.pk }}" pk ="{{ task.pk }}" class="task_take btn btn-success  btn-lg" type="button"> Участвовать </button>
                            {% endif %}
                    <!-- Social network share
                    <p>
                        <button type="button" class="btn btn-info active"> Facebook </button>
                        <a href="#" class="btn btn-info active" type="button">ВК</a>
                    </p>
                    -->


                    <address>
                         <p><strong>Контакты организатора: </strong></p>
                         <strong> {{ task.author.get_full_name }}</strong>
                         <strong> {{ task.author.userprofile.telephone }}</strong> <!--(123) 456-7890-->
                         <p><strong> {{ task.author.email}} </strong></p>
                        <!-- <br /> {{ task.author.userprofile.contact_info }} <br />
                        <br /> {{ task.author.userprofile.adress }} <br />
                        <strong>Twitter, Inc.</strong>
                        <br /> 795 Folsom Ave, Suite 600 <br /> San Francisco, CA 94107<br />
                        -->

                    </address>

                    <strong> Участники: </strong>
                    {% if request.user.is_authenticated %}
                        {% if task.author == request.user %}
                            <a class="btn btn-default" href="{% url 'task_members' pk=task.pk %}"> <span class="glyphicon glyphicon-pencil"> </span> Посмотреть список участников </a>
                        {% endif %}
                    {% endif %}
                    <div class="media">
                        {% for member in task.member.all %}
                            <p> {{ member.first_name }}  {{ member.last_name }}</p>
                        {% endfor %}
                        <!-- <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                         <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                         <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                         <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                         <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                        -->
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock content %}