h1 a {
    color: #483D8B;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #1E90FF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h3 a {
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Istok Web', cursive;
    color: #ffffff;
    font-size: 10px;
}

.date {
    float: left;
    font-size: 23pt;
    color: #828282;
    margin: 16px;
}

.event_date {
    font-size: 100pt;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .task-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.task {
    margin-bottom: 70px;
}

.task h1 a, .task h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}


html, body{
  width: 100%;
  font-family: 'Istok Web', sans-serif;
  vertical-align: middle;
}
a, a:hover, .menu_item, .submit,.vk,.fb,.mail,.gm{
  text-decoration: none;
  transition: all 0.3s linear;
}

.menu_item a{
  border-bottom: 3px solid white;
  color: black;
}
.menu_item a:hover{
  border-bottom: 3px solid #D8BAB1;
  cursor: pointer;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
h1{
  font-size: 64px;
  color: #050028;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 0;
}
h2{
  font-size: 32px;
  font-weight: 700;
}
.main_text{
  font-size: 20px;
}
header{
  width: 100%;
  padding: 10px 0;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}
.logo, .menu, .menu_item{
  display: inline-block;
  font-size: 14px;
}
.menu_item{
  margin-right: 20px;
}
form{
  padding: 0
}
.logo img{
  width: 55px;
  height: 55px;
}
.user_inform input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 30px 0;
}
.check_category div{
  margin-top: 10px;
}
.submit{
  padding: 15px;
  margin-top: 30px;
  background-color: #8CC63F;
  box-shadow: none;
  border:none;
  color: white;
}
.submit:hover{
  background-color: #64AA2D;
}
.vk{
  background: #3f7da5;
}
.mail{
  background: #366899;
}
.fb{
  background: #3b5998;
}
.gm{
  background: #dd4b38;
}
.vk:hover{
  background: #206795;
}
.mail:hover{
  background: #1c568f;
}
.fb:hover{
  background: #214186;
}
.gm:hover{
  background: #cd3420
}
.soc{
  padding: 15px;
  color: white;
  margin-top: 10px;
}

