{% extends 'base.html' %}

{% block content %}

    <h3>Проект МирОк - сеть для волонтёров </h3>
    <p> Тут сможете найти подходящее для вас доброе дело </p>
    <p> Информация о проекте </p>
    <p> Контакты </p>

{% endblock content %}