{% load staticfiles %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Volunteer Project HSE">
    <meta name="author" content="Michal Rozenwald">

    <title> MirOk </title>
    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}"/>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>')</script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

</head>


<body>
<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'profiles.views.welcome' %}">MirOk</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'profiles.views.about_info' %}">О Проекте</a></li>
            <li class="active"><a href="/">Задачи</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li> <!-- add link to profile -->
                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span>Выйти</a></li>
            {% else %}
                <li><a href="{% url "registration" %}"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
                <li><a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<!-- Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    {%  block content %}
                    {% endblock %}
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-bottom" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="{% url 'profiles.views.welcome' %}">MirOk</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if user.is_authenticated %}
                                <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li> <!-- add link to profile -->
                                <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span>Выйти</a></li>
                            {% else %}
                                <li><a href="{% url "registration" %}"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
                                <li><a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
                            {% endif %}
                        </li>

                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>






</body>
</html>


