{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">

                    <div class="carousel slide" id="carousel-830864">
                        <ol class="carousel-indicators">
                            <li data-slide-to="0" data-target="#carousel-830864">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-830864">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-830864" class="active">
                            </li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item">
                                <img alt="Carousel Bootstrap First" height="500" width="1100"  src="http://www.yapmt.org/wp-content/uploads/2014/06/volunteer.jpg"/> <!--http://www.yapmt.org/wp-content/uploads/2014/06/volunteer.jpg" /> -->
                                <div class="carousel-caption">
                                    <h2>
                                        МирОк!
                                    </h2>
                                    <p>
                                        Давайте вместе делать наш Мир лучше.
                                    </p>
                                    <p>
                                        Скорее берись за дело!
                                    </p>

                                    <p>
                                        <a class="btn btn-primary btn-large"  href="{% url 'profiles.views.about_info' %}">Узнать подробнее</a><br />
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="Carousel Bootstrap Second"  height="300" width="1100"  src="http://laozidaxue.pic4.eznetonline.com/upload/Volunteer_Hands_qPdf.jpg"/> <!--http://www.summerlinhospital.com/sites/summerlinhospital.com/files/108592227.jpg" /> -->
                                <div class="carousel-caption">
                                    <h2>
                                        МирОк!
                                    </h2>
                                    <p>
                                        Давайте вместе делать наш Мир лучше.
                                    </p>
                                    <p>
                                        Скорее берись за дело!
                                    </p>

                                    <p>
                                        <a class="btn btn-primary btn-large"  href="{% url 'profiles.views.about_info' %}">Узнать подробнее</a><br />
                                    </p>
                                </div>
                            </div>
                            <div class="item active">
                                <img alt="Carousel Bootstrap Third" height="600" width="1100" src="http://static1.squarespace.com/static/5411df69e4b016536227b302/t/542f3e74e4b04fc4ad30d011/1412382324997/handsvol.jpg"/> <!--http://genxfinance.com/genesis/wp-content/uploads/2011/12/charity-volunteer.jpg" /> -->
                                <div class="carousel-caption">
                                    <h2>
                                        МирОк!
                                    </h2>
                                    <p>
                                        Давайте вместе делать наш Мир лучше.
                                    </p>
                                    <p>
                                        Скорее берись за дело!
                                    </p>
                                    <p>
                                        <a class="btn btn-primary btn-large" href="{% url 'profiles.views.about_info' %}">Узнать подробнее</a><br />
                                    </p>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-830864" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-830864" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>


                <p style="margin-bottom: 16px; padding: 16px"></p>

                <a href="{% url "registration" %}">
                <button type="button" class="btn active btn-lg btn-success btn-block">
                    ПРИСОЕДИНИТЬСЯ
                </button>
                </a>

                </div>

            </div>
        </div>
    </div>
{% endblock %}